In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('dataco_data.csv', encoding='latin-1')

In [3]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 180519 entries, 0 to 180518
Data columns (total 53 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Type                           180519 non-null  str
 1   Days for shipping (real)       180519 non-null  int64
 2   Days for shipment (scheduled)  180519 non-null  int64
 3   Benefit per order              180519 non-null  float64
 4   Sales per customer             180519 non-null  float64
 5   Delivery Status                180519 non-null  str
 6   Late_delivery_risk             180519 non-null  int64
 7   Category Id                    180519 non-null  int64
 8   Category Name                  180519 non-null  str
 9   Customer City                  180519 non-null  str
 10  Customer Country               180519 non-null  str
 11  Customer Email                 180519 non-null  str
 12  Customer Fname                 180519 non-null  str
 13  Customer Id                    180519 non-null  int64
 14  Customer Lname                 180511 non-null  str
 15  Customer Password              180519 non-null  str
 16  Customer Segment               180519 non-null  str
 17  Customer State                 180519 non-null  str
 18  Customer Street                180519 non-null  str
 19  Customer Zipcode               180516 non-null  float64
 20  Department Id                  180519 non-null  int64
 21  Department Name                180519 non-null  str
 22  Latitude                       180519 non-null  float64
 23  Longitude                      180519 non-null  float64
 24  Market                         180519 non-null  str
 25  Order City                     180519 non-null  str
 26  Order Country                  180519 non-null  str
 27  Order Customer Id              180519 non-null  int64
 28  order date (DateOrders)        180519 non-null  str
 29  Order Id                       180519 non-null  int64
 30  Order Item Cardprod Id         180519 non-null  int64
 31  Order Item Discount            180519 non-null  float64
 32  Order Item Discount Rate       180519 non-null  float64
 33  Order Item Id                  180519 non-null  int64
 34  Order Item Product Price       180519 non-null  float64
 35  Order Item Profit Ratio        180519 non-null  float64
 36  Order Item Quantity            180519 non-null  int64
 37  Sales                          180519 non-null  float64
 38  Order Item Total               180519 non-null  float64
 39  Order Profit Per Order         180519 non-null  float64
 40  Order Region                   180519 non-null  str
 41  Order State                    180519 non-null  str
 42  Order Status                   180519 non-null  str
 43  Order Zipcode                  24840 non-null   float64
 44  Product Card Id                180519 non-null  int64
 45  Product Category Id            180519 non-null  int64
 46  Product Description            0 non-null       float64
 47  Product Image                  180519 non-null  str
 48  Product Name                   180519 non-null  str
 49  Product Price                  180519 non-null  float64
 50  Product Status                 180519 non-null  int64
 51  shipping date (DateOrders)     180519 non-null  str
 52  Shipping Mode                  180519 non-null  str
dtypes: float64(15), int64(14), str(24)
memory usage: 73.0 MB

In [4]:
df.isnull().sum()

Type                                  0
Days for shipping (real)              0
Days for shipment (scheduled)         0
Benefit per order                     0
Sales per customer                    0
Delivery Status                       0
Late_delivery_risk                    0
Category Id                           0
Category Name                         0
Customer City                         0
Customer Country                      0
Customer Email                        0
Customer Fname                        0
Customer Id                           0
Customer Lname                        8
Customer Password                     0
Customer Segment                      0
Customer State                        0
Customer Street                       0
Customer Zipcode                      3
Department Id                         0
Department Name                       0
Latitude                              0
Longitude                             0
Market                                0
Order City                            0
Order Country                         0
Order Customer Id                     0
order date (DateOrders)               0
Order Id                              0
Order Item Cardprod Id                0
Order Item Discount                   0
Order Item Discount Rate              0
Order Item Id                         0
Order Item Product Price              0
Order Item Profit Ratio               0
Order Item Quantity                   0
Sales                                 0
Order Item Total                      0
Order Profit Per Order                0
Order Region                          0
Order State                           0
Order Status                          0
Order Zipcode                    155679
Product Card Id                       0
Product Category Id                   0
Product Description              180519
Product Image                         0
Product Name                          0
Product Price                         0
Product Status                        0
shipping date (DateOrders)            0
Shipping Mode                         0
dtype: int64

In [5]:
df.duplicated().sum()

np.int64(0)

In [6]:
print(f"Number of duplicate rows: {df.duplicated().sum()}")

Number of duplicate rows: 0

In [7]:
df.head()

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,...,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
0,DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,2/3/2018 22:56,Standard Class
1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/18/2018 12:27,Standard Class
2,CASH,4,4,-247.779999,309.720001,Shipping on time,0,73,Sporting Goods,San Jose,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/17/2018 12:06,Standard Class
3,DEBIT,3,4,22.860001,304.809998,Advance shipping,0,73,Sporting Goods,Los Angeles,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/16/2018 11:45,Standard Class
4,PAYMENT,2,4,134.210007,298.250000,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/15/2018 11:24,Standard Class

In [8]:
cols_to_keep = [col for col in df.columns if col in [
    'Type', 'Days for shipping (real)', 'Days for shipment (scheduled)',
    'Benefit per order', 'Category Name', 'Customer City', 'Customer Segment',
    'Order City', 'Order Country', 'order date (DateOrders)', 'Order Region', 
    'Order Status', 'Product Name', 'Sales', 'Shipping Mode', 'Late_delivery_risk'
]]
df = df[cols_to_keep]
df.head()

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Late_delivery_risk,Category Name,Customer City,Customer Segment,Order City,Order Country,order date (DateOrders),Sales,Order Region,Order Status,Product Name,Shipping Mode
0,DEBIT,3,4,91.250000,0,Sporting Goods,Caguas,Consumer,Bekasi,Indonesia,1/31/2018 22:56,327.75,Southeast Asia,COMPLETE,Smart watch,Standard Class
1,TRANSFER,5,4,-249.089996,1,Sporting Goods,Caguas,Consumer,Bikaner,India,1/13/2018 12:27,327.75,South Asia,PENDING,Smart watch,Standard Class
2,CASH,4,4,-247.779999,0,Sporting Goods,San Jose,Consumer,Bikaner,India,1/13/2018 12:06,327.75,South Asia,CLOSED,Smart watch,Standard Class
3,DEBIT,3,4,22.860001,0,Sporting Goods,Los Angeles,Home Office,Townsville,Australia,1/13/2018 11:45,327.75,Oceania,COMPLETE,Smart watch,Standard Class
4,PAYMENT,2,4,134.210007,0,Sporting Goods,Caguas,Corporate,Townsville,Australia,1/13/2018 11:24,327.75,Oceania,PENDING_PAYMENT,Smart watch,Standard Class

In [9]:
df = df.drop_duplicates()

In [10]:
df.columns = [col.replace(' ', '_').replace('(', '').replace(')', '').lower() for col in df.columns]

In [11]:
df['order_date_dateorders'] = pd.to_datetime(df['order_date_dateorders'])

#creating kpi: delay days

In [12]:
df['delay_days'] = df['days_for_shipping_real'] - df['days_for_shipment_scheduled']

In [13]:
print(f"Final Row Count: {len(df)}")

Final Row Count: 180511

In [14]:
df.shape

(180511, 17)

In [15]:
df.head()

,type,days_for_shipping_real,days_for_shipment_scheduled,benefit_per_order,late_delivery_risk,category_name,customer_city,customer_segment,order_city,order_country,order_date_dateorders,sales,order_region,order_status,product_name,shipping_mode,delay_days
0,DEBIT,3,4,91.250000,0,Sporting Goods,Caguas,Consumer,Bekasi,Indonesia,2018-01-31 22:56:00,327.75,Southeast Asia,COMPLETE,Smart watch,Standard Class,-1
1,TRANSFER,5,4,-249.089996,1,Sporting Goods,Caguas,Consumer,Bikaner,India,2018-01-13 12:27:00,327.75,South Asia,PENDING,Smart watch,Standard Class,1
2,CASH,4,4,-247.779999,0,Sporting Goods,San Jose,Consumer,Bikaner,India,2018-01-13 12:06:00,327.75,South Asia,CLOSED,Smart watch,Standard Class,0
3,DEBIT,3,4,22.860001,0,Sporting Goods,Los Angeles,Home Office,Townsville,Australia,2018-01-13 11:45:00,327.75,Oceania,COMPLETE,Smart watch,Standard Class,-1
4,PAYMENT,2,4,134.210007,0,Sporting Goods,Caguas,Corporate,Townsville,Australia,2018-01-13 11:24:00,327.75,Oceania,PENDING_PAYMENT,Smart watch,Standard Class,-2

In [16]:
# Check for duplicates and null values after cleaning
print("=" * 50)
print("DATA QUALITY CHECK AFTER CLEANING")
print("=" * 50)
print(f"\nDataset Shape: {df.shape}")
print(f"Total Rows: {df.shape[0]}")
print(f"Total Columns: {df.shape[1]}")
print(f"\nDuplicate Rows: {df.duplicated().sum()}")
print(f"\nNull Values by Column:")
null_summary = df.isnull().sum()
if null_summary.sum() == 0:
    print("  ✓ No null values found in the dataset")
else:
    print(null_summary[null_summary > 0])
print("\n" + "=" * 50)

==================================================
DATA QUALITY CHECK AFTER CLEANING
==================================================

Dataset Shape: (180511, 17)
Total Rows: 180511
Total Columns: 17

Duplicate Rows: 0

Null Values by Column:
  ✓ No null values found in the dataset

==================================================

In [17]:
df.to_csv('dataco_cleaned.csv', index=False)

In [18]:
pip install psycopg2-binary sqlalchemy

Requirement already satisfied: psycopg2-binary in ./.venv/lib/python3.14/site-packages (2.9.11)
Requirement already satisfied: sqlalchemy in ./.venv/lib/python3.14/site-packages (2.0.46)
Requirement already satisfied: typing-extensions>=4.6.0 in ./.venv/lib/python3.14/site-packages (from sqlalchemy) (4.15.0)

[notice] A new release of pip is available: 25.3 -> 26.0.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [19]:
from sqlalchemy import create_engine
username = "postgres"      
password = "iwasfranciscan" 
host = "localhost"         
port = "5432"             
database = "dataco"   

engine = create_engine(f"postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}")


table_name = "dataco_supply_chain"  
df.to_sql(table_name, engine, if_exists="replace", index=False)

print(f"Data successfully loaded into table '{table_name}' in database '{database}'.")

Data successfully loaded into table 'dataco_supply_chain' in database 'dataco'.